RewriteEngine On
# Nếu không phải là file hoặc thư mục thật thì chuyển vào index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]